<section>
  <main>
    <form class="form-horizontal scrollale margin-top-0">
      <div class="container-fluid no-padding">
        <h2>List of Projects</h2>
        {{#if projects.length}}
          <table class="table table-condensed wide plain" style="min-width: 1000px">
            {{em-thead headers=headers}}
            <tbody>
              {{#if projects.length}}
                {{#each projects as |project index|}}
                  {{project-row rowData=project index=index}}
                {{/each}}
              {{else}}
                <tr>
                  <td colspan="{{headers.length}}" class="blank-state">No records found.</td>
                </tr>
              {{/if}}
            </tbody>
          </table>
        {{else}}
          <p class="insignificant form-control-static">No Projects available.</p>
        {{/if}}
      </div>
    </form>
   {{!--  <div class="text-center">
      {{content-pagination totalPages=pageCount page=page}}
    </div> --}}
  </main>
</section>